In [ ]:

import pandas as pd

# !pip install pandas-profiling

In [ ]:
import numpy as np

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
df = pd.read_csv('/content/Train_Data.csv')

In [ ]:
df.head()

         age     sex        bmi smoker     region  children       charges
0  21.000000    male  25.745000     no  northeast         2   3279.868550
1  36.976978  female  25.744165    yes  southeast         3  21454.494239
2  18.000000    male  30.030000     no  southeast         1   1720.353700
3  37.000000    male  30.676891     no  northeast         3   6801.437542
4  58.000000    male  32.010000     no  southeast         1  11946.625900

In [ ]:
df.shape

(3630, 7)

In [ ]:
# !pip install pandas-profiling==2.7.1

In [ ]:
# profile = ProfileReport(df)

In [ ]:
# profile.to_file(output_file="data.html")

In [ ]:

df.isnull().sum()

age         0
sex         0
bmi         0
smoker      0
region      0
children    0
charges     0
dtype: int64

In [ ]:
df.corr()

               age       bmi  children   charges
age       1.000000  0.143527 -0.061076  0.299692
bmi       0.143527  1.000000 -0.041996  0.211325
children -0.061076 -0.041996  1.000000 -0.075089
charges   0.299692  0.211325 -0.075089  1.000000

In [ ]:
df.shape

(3630, 7)

In [ ]:
df['children'].value_counts()

0    619
2    615
5    610
3    605
4    604
1    577
Name: children, dtype: int64

In [ ]:
df['smoker'].value_counts()

no     3070
yes     560
Name: smoker, dtype: int64

In [ ]:
df['region'].value_counts()

southeast    1021
northwest     911
southwest     850
northeast     848
Name: region, dtype: int64

In [ ]:
df['sex'].value_counts()

male      2029
female    1601
Name: sex, dtype: int64

In [ ]:
df.describe()

               age          bmi     children       charges
count  3630.000000  3630.000000  3630.000000   3630.000000
mean     38.887036    30.629652     2.503581  12784.808644
std      12.151029     5.441307     1.712568  10746.166743
min      18.000000    15.960000     0.000000   1121.873900
25%      29.000000    26.694526     1.000000   5654.818262
50%      39.170922    30.200000     3.000000   9443.807222
75%      48.343281    34.100000     4.000000  14680.407505
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:

df['age']

0       21.000000
1       36.976978
2       18.000000
3       37.000000
4       58.000000
          ...
3625    48.820767
3626    38.661977
3627    56.000000
3628    48.061207
3629    37.598865
Name: age, Length: 3630, dtype: float64

In [ ]:
#AGE (abs  (roundoff))
# SMOKER (1 or 0 )
# SEX (1 or 0) or one hot.()
# Region (ONE HOT)
# MinMax

# ****CHILDREN P  (ONE HOT OR OTHER DEPENDS)

In [ ]:
df2 = pd.DataFrame(df['age'].apply(np.floor))
print(df2)
df3 = df.drop('age',axis=1)
result = pd.concat([df3, df2], axis=1)
print(result)

       age
0     21.0
1     36.0
2     18.0
3     37.0
4     58.0
...    ...
3625  48.0
3626  38.0
3627  56.0
3628  48.0
3629  37.0

[3630 rows x 1 columns]
         sex        bmi smoker     region  children       charges   age
0       male  25.745000     no  northeast         2   3279.868550  21.0
1     female  25.744165    yes  southeast         3  21454.494239  36.0
2       male  30.030000     no  southeast         1   1720.353700  18.0
3       male  30.676891     no  northeast         3   6801.437542  37.0
4       male  32.010000     no  southeast         1  11946.625900  58.0
...      ...        ...    ...        ...       ...           ...   ...
3625  female  41.426984     no  northwest         4  10987.324964  48.0
3626  female  26.202557     no  southeast         2  11735.844352  38.0
3627    male  40.300000     no  southwest         0  10602.385000  56.0
3628  female  34.930624     no  southeast         1   8976.140452  48.0
3629  female  25.219233     no  northeast         3   7027.698968  37.0

[3630 rows x 7 columns]

In [ ]:

result['smoker'].replace({'yes': 1,'no': 0},inplace=True)


result['sex'].replace({'male': 1,'female': 0},inplace=True)

In [ ]:
result.sample(10)

      sex        bmi  smoker     region  children       charges   age
693     0  32.003954       0  northwest         4  11023.443506  49.0
3220    0  31.944934       0  northeast         2   6999.274662  39.0
432     1  35.860000       0  southeast         0   1986.933400  24.0
183     0  30.596183       0  southeast         2  12927.131694  59.0
2620    1  30.006692       0  northeast         4  17500.205729  22.0
1805    0  28.880000       0  northwest         1   9249.495200  48.0
2942    1  34.100000       0  southeast         2  23563.016180  39.0
3020    0  28.788642       0  southeast         5   9182.058332  40.0
573     0  30.148943       0  southeast         3  14142.762543  59.0
650     1  28.695554       0  southwest         5   4702.130950  19.0

In [ ]:

# result['smoker'].replace({'yes': 1,'no': 0},inplace=True)

In [ ]:
# 
# result['sex'].replace({'male': 1,'female': 0},inplace=True)

In [ ]:
result

      sex        bmi  smoker     region  children       charges   age
0       1  25.745000       0  northeast         2   3279.868550  21.0
1       0  25.744165       1  southeast         3  21454.494239  36.0
2       1  30.030000       0  southeast         1   1720.353700  18.0
3       1  30.676891       0  northeast         3   6801.437542  37.0
4       1  32.010000       0  southeast         1  11946.625900  58.0
...   ...        ...     ...        ...       ...           ...   ...
3625    0  41.426984       0  northwest         4  10987.324964  48.0
3626    0  26.202557       0  southeast         2  11735.844352  38.0
3627    1  40.300000       0  southwest         0  10602.385000  56.0
3628    0  34.930624       0  southeast         1   8976.140452  48.0
3629    0  25.219233       0  northeast         3   7027.698968  37.0

[3630 rows x 7 columns]

In [ ]:

# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
result['region']= label_encoder.fit_transform(result['region'])

In [ ]:
# result['region'].value_counts()
result.sample(10)

      sex        bmi  smoker  region  children       charges   age
2407    1  38.612672       1       3         2  38392.746516  20.0
748     1  34.203424       1       0         4  34241.537745  57.0
863     1  30.873674       0       3         5   5209.178598  23.0
1024    0  34.695717       1       2         3  40824.588611  38.0
2444    0  27.289066       1       1         3  18232.032985  18.0
1414    0  25.596881       0       3         5  13275.317973  43.0
352     0  24.460116       0       1         1   2720.720869  19.0
263     0  30.728345       0       0         1   7631.480400  44.0
510     1  31.892829       1       0         3  46182.830749  59.0
3163    1  19.584628       0       2         5  18317.625754  39.0

In [ ]:
# reg = pd.get_dummies(result['region'])
# reg

In [ ]:

# reg = pd.get_dummies(result['region'])
# print(reg)
# result2 = result.drop(['region'],axis=1)
# result3 = pd.concat([reg, result2], axis=1)
# print(result3)

In [ ]:
cols_to_scale = ['bmi','children','age','region']
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
result[cols_to_scale] = scaler.fit_transform(result[cols_to_scale])

In [ ]:
result

      sex       bmi  smoker    region  children       charges       age
0       1 -0.897822       0 -1.392458 -0.294091   3279.868550 -1.449186
1       0 -0.897976       1  0.444584  0.289908  21454.494239 -0.215918
2       1 -0.110219       0  0.444584 -0.878090   1720.353700 -1.695840
3       1  0.008683       0 -1.392458  0.289908   6801.437542 -0.133700
4       1  0.253714       0  0.444584 -0.878090  11946.625900  1.592875
...   ...       ...     ...       ...       ...           ...       ...
3625    0  1.984600       0 -0.473937  0.873907  10987.324964  0.770696
3626    0 -0.813721       0  0.444584 -0.294091  11735.844352 -0.051482
3627    1  1.777455       0  1.363106 -1.462089  10602.385000  1.428439
3628    0  0.790539       0  0.444584 -0.878090   8976.140452  0.770696
3629    0 -0.994460       0 -1.392458  0.289908   7027.698968 -0.133700

[3630 rows x 7 columns]

In [ ]:
result4 = result.drop_duplicates()

In [ ]:

result4

      sex       bmi  smoker    region  children       charges       age
0       1 -0.897822       0 -1.392458 -0.294091   3279.868550 -1.449186
1       0 -0.897976       1  0.444584  0.289908  21454.494239 -0.215918
2       1 -0.110219       0  0.444584 -0.878090   1720.353700 -1.695840
3       1  0.008683       0 -1.392458  0.289908   6801.437542 -0.133700
4       1  0.253714       0  0.444584 -0.878090  11946.625900  1.592875
...   ...       ...     ...       ...       ...           ...       ...
2947    1  0.901068       1  0.444584 -0.294091  18989.365540  0.359607
2948    1 -0.432144       0 -1.392458  0.873907  21806.181609 -0.627008
2949    0 -0.710103       0 -0.473937  0.873907  11355.817586  0.935132
2950    0  0.141013       0 -0.473937  0.873907  11185.914056  0.852914
2951    1  0.049691       1  1.363106 -1.462089  39727.614000  0.852914

[2951 rows x 7 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = result4.drop(['charges'],axis=1)

In [ ]:
y = result4['charges']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15)

In [ ]:
print(X_train.shape)
print(X_test.shape)

(2360, 6)
(591, 6)

In [ ]:
print(y_train.shape)
print(y_test.shape)

(2360,)
(591,)

In [ ]:
# !pip install lazypredict

In [ ]:
# import lazypredict

In [ ]:
# from lazypredict.Supervised import LazyRegressor

# from sklearn.utils import shuffle
# import numpy as np

In [ ]:
# # reg = LazyRegressor(verbose=0, ignore_warnings=False, custom_metric=None)
# models, predictions = reg.fit(X_train, X_test, y_train, y_test)

In [ ]:
# models

In [ ]:
#  from sklearn.ensemble import RandomForestRegressor
#  from sklearn.experimental import enable_hist_gradient_boosting

In [ ]:
# from sklearn.ensemble import HistGradientBoostingRegressor

In [ ]:
# regressor = RandomForestRegressor()
#  from sklearn.experimental import enable_hist_gradient_boosting
# from sklearn.ensemble import HistGradientBoostingRegressor
# regressor = HistGradientBoostingRegressor()
# regressor.fit(X_train,y_train)
# pred = regressor.predict(X_test)

In [ ]:
# pred[:10]

In [ ]:
# import mean squared error from sklearn.metric
# from sklearn.metrics import f1_score

In [ ]:
# print('f1 Score is: ', f1_score(y_test, pred))

In [ ]:
# regressor.score(X_test,y_test)

In [ ]:
# df_test = pd.read_csv('/content/Test_Data.csv')
# df_test
# df2_test = pd.DataFrame(df_test['age'].apply(np.floor))
# print(df2_test)
# df3_test = df_test.drop('age',axis=1)
# result_test = pd.concat([df3_test, df2_test], axis=1)
# print(result_test)
# 
# result_test['smoker'].replace({'yes': 1,'no': 0},inplace=True)


# result_test['sex'].replace({'male': 1,'female': 0},inplace=True)

In [ ]:
# result_test

In [ ]:
# reg_test = pd.get_dummies(result_test['region'])
# print(reg_test)
# result2_test = result_test.drop(['region'],axis=1)
# result3_test = pd.concat([reg_test, result2_test], axis=1)
# print(result3_test)

# Import label encoder
# from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
# label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
# result_test['region']= label_encoder.fit_transform(result_test['region'])

In [ ]:
# result_test

In [ ]:
# cols_to_scale = ['bmi','children','age','region']
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler()
# result_test[cols_to_scale] = scaler.fit_transform(result_test[cols_to_scale])

In [ ]:
# result_test.head()

In [ ]:

# target = regressor.predict(result_test)
# # To create Dataframe of predicted value with particular respective index
# res = pd.DataFrame(target) # target are nothing but the final predictions of your model on input features of your new unseen test data
# res.columns = ["prediction"]

# # To download the csv file locally
# from google.colab import files
# res.to_csv('submission.csv', index = False)
# files.download('submission.csv')

In [ ]:
# balancing smoker 
# one hot encoding for sex
# label encoding for region

In [ ]:
# from tensorflow.keras import Sequential # import Sequential from tensorflow.keras
# from tensorflow.keras.layers import Dense # import Dense from tensorflow.keras.layers
# from numpy.random import seed # seed helps you to fix the randomness in the neural network.
# import tensorflow

In [ ]:
# X_train.shape

In [ ]:
from tensorflow.keras import models,layers

In [ ]:
from tensorflow.keras import Sequential # import Sequential from tensorflow.keras
from tensorflow.keras.layers import Dense # import Dense from tensorflow.keras.layers
from numpy.random import seed # seed helps you to fix the randomness in the neural network.
import tensorflow

In [ ]:
model = Sequential()
model.add(Dense(6, activation='relu', input_shape=(6,)))
# model.add(Dense(8, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(2, activation='relu'))
model.add(Dense(1))

In [ ]:
# import RMSprop optimizer
from tensorflow.keras.optimizers import RMSprop
optimizer = RMSprop(0.01) # 0.01 is the learning rate

In [ ]:
model.compile(loss='mean_squared_error',optimizer=optimizer) # compile the model

In [ ]:
# 4. Set the `tensorflow` pseudo-random generator at a fixed value
# tensorflow.random.set_seed(seed_value)
seed_value = 42
seed(seed_value) # If you build the model with given parameters, set_random_seed will help you produce the same result on multiple execution


# Recommended by Keras -------------------------------------------------------------------------------------
# 1. Set `PYTHONHASHSEED` environment variable at a fixed value
import os
os.environ['PYTHONHASHSEED']=str(seed_value)

# 2. Set `python` built-in pseudo-random generator at a fixed value
import random
random.seed(seed_value)

# 3. Set `numpy` pseudo-random generator at a fixed value
import numpy as np
np.random.seed(seed_value)
# Recommended by Keras -------------------------------------------------------------------------------------
model.fit(X_train, y_train, epochs=500,verbose = 1) # fit the model

In [ ]:
pred = model.predict(X_test)

In [ ]:
pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
print('Mean Squared Error is: ', np.sqrt(mean_squared_error(y_test, pred)))

Mean Squared Error is:  4226.385964926532

In [ ]:
df_test = pd.read_csv('/content/Test_Data.csv')
print(df_test)
df2_test = pd.DataFrame(df_test['age'].apply(np.floor))
print(df2_test)
df3_test = df_test.drop('age',axis=1)
result_test = pd.concat([df3_test, df2_test], axis=1)
print(result_test)

result_test['smoker'].replace({'yes': 1,'no': 0},inplace=True)


result_test['sex'].replace({'male': 1,'female': 0},inplace=True)

           age     sex        bmi smoker     region  children
0    40.000000    male  29.900000     no  southwest         2
1    47.000000    male  32.300000     no  southwest         1
2    54.000000  female  28.880000     no  northeast         2
3    37.000000    male  30.568094     no  northeast         3
4    59.130049    male  33.132854    yes  northeast         4
..         ...     ...        ...    ...        ...       ...
487  51.000000    male  27.740000     no  northeast         1
488  33.000000    male  42.400000     no  southwest         5
489  47.769999    male  29.064615     no  northeast         4
490  41.530738  female  24.260852     no  southeast         5
491  36.000000    male  33.400000    yes  southwest         2

[492 rows x 6 columns]
      age
0    40.0
1    47.0
2    54.0
3    37.0
4    59.0
..    ...
487  51.0
488  33.0
489  47.0
490  41.0
491  36.0

[492 rows x 1 columns]
        sex        bmi smoker     region  children   age
0      male  29.900000     no  southwest         2  40.0
1      male  32.300000     no  southwest         1  47.0
2    female  28.880000     no  northeast         2  54.0
3      male  30.568094     no  northeast         3  37.0
4      male  33.132854    yes  northeast         4  59.0
..      ...        ...    ...        ...       ...   ...
487    male  27.740000     no  northeast         1  51.0
488    male  42.400000     no  southwest         5  33.0
489    male  29.064615     no  northeast         4  47.0
490  female  24.260852     no  southeast         5  41.0
491    male  33.400000    yes  southwest         2  36.0

[492 rows x 6 columns]

In [ ]:
result_test

     sex        bmi  smoker     region  children   age
0      1  29.900000       0  southwest         2  40.0
1      1  32.300000       0  southwest         1  47.0
2      0  28.880000       0  northeast         2  54.0
3      1  30.568094       0  northeast         3  37.0
4      1  33.132854       1  northeast         4  59.0
..   ...        ...     ...        ...       ...   ...
487    1  27.740000       0  northeast         1  51.0
488    1  42.400000       0  southwest         5  33.0
489    1  29.064615       0  northeast         4  47.0
490    0  24.260852       0  southeast         5  41.0
491    1  33.400000       1  southwest         2  36.0

[492 rows x 6 columns]

In [ ]:

# Import label encoder
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

# Encode labels in column 'species'.
result_test['region']= label_encoder.fit_transform(result_test['region'])

In [ ]:
result_test

     sex        bmi  smoker  region  children   age
0      1  29.900000       0       3         2  40.0
1      1  32.300000       0       3         1  47.0
2      0  28.880000       0       0         2  54.0
3      1  30.568094       0       0         3  37.0
4      1  33.132854       1       0         4  59.0
..   ...        ...     ...     ...       ...   ...
487    1  27.740000       0       0         1  51.0
488    1  42.400000       0       3         5  33.0
489    1  29.064615       0       0         4  47.0
490    0  24.260852       0       2         5  41.0
491    1  33.400000       1       3         2  36.0

[492 rows x 6 columns]

In [ ]:
cols_to_scale = ['bmi','children','age','region']
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
result_test[cols_to_scale] = scaler.fit_transform(result_test[cols_to_scale])

In [ ]:
result_test

     sex       bmi  smoker    region  children       age
0      1 -0.144446       0  1.414411 -0.304406  0.115985
1      1  0.298314       0  1.414411 -0.898724  0.680183
2      0 -0.332619       0 -1.251835 -0.304406  1.244382
3      1 -0.021194       0 -1.251835  0.289911 -0.125814
4      1  0.451961       1 -1.251835  0.884228  1.647380
..   ...       ...     ...       ...       ...       ...
487    1 -0.542929       0 -1.251835 -0.898724  1.002582
488    1  2.161593       0  1.414411  1.478546 -0.448213
489    1 -0.298560       0 -1.251835  0.884228  0.680183
490    0 -1.184773       0  0.525662  1.478546  0.196585
491    1  0.501245       1  1.414411 -0.304406 -0.206414

[492 rows x 6 columns]

In [ ]:

target = model.predict(result_test)
# To create Dataframe of predicted value with particular respective index
res = pd.DataFrame(target) # target are nothing but the final predictions of your model on input features of your new unseen test data
res.columns = ["prediction"]

# To download the csv file locally
from google.colab import files
res.to_csv('submission.csv', index = False)
files.download('submission.csv')

In [ ]:
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import HistGradientBoostingRegressor
regressor = HistGradientBoostingRegressor(max_iter=37,max_leaf_nodes=20,min_samples_leaf=20,learning_rate=0.1,max_depth=10,warm_start=True,)
regressor.fit(X_train,y_train)
pred = regressor.predict(X_test)

In [ ]:
print('Root Mean Squared Error is: ', np.sqrt(mean_squared_error(y_test, pred)))

Root Mean Squared Error is:  3654.8264414014097

In [ ]:

target = regressor.predict(result_test)
# To create Dataframe of predicted value with particular respective index
res = pd.DataFrame(target) # target are nothing but the final predictions of your model on input features of your new unseen test data
res.columns = ["prediction"]

# To download the csv file locally
from google.colab import files
res.to_csv('submission.csv', index = False)
files.download('submission.csv')