In [50]:
import pandas as pd

In [51]:
import numpy as np

In [52]:
data = pd.read_csv('/content/result1.csv')

In [53]:
data_test = pd.read_csv('/content/result_test_1.csv')

In [54]:
data = data.drop('Unnamed: 0',axis=1)

In [55]:
data_test = data_test.drop('Unnamed: 0',axis=1)

In [56]:
data

       city_development_index  ...  major_discipline_predicted
0                        0.62  ...                         4.0
1                        0.62  ...                         4.0
2                        0.75  ...                         4.0
3                        0.87  ...                         4.0
4                        0.62  ...                         4.0
...                       ...  ...                         ...
17210                    0.89  ...                         4.0
17211                    0.58  ...                         4.0
17212                    0.93  ...                         4.0
17213                    0.92  ...                         4.0
17214                    0.84  ...                         4.0

[17215 rows x 11 columns]

In [57]:
cols_to_scale = ['education_level','experience','last_new_job','training_hours','cityNo','major_discipline_predicted']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data[cols_to_scale] = scaler.fit_transform(data[cols_to_scale])

data_test[cols_to_scale] = scaler.fit_transform(data_test[cols_to_scale])

In [58]:
data

       city_development_index  ...  major_discipline_predicted
0                        0.62  ...                         0.8
1                        0.62  ...                         0.8
2                        0.75  ...                         0.8
3                        0.87  ...                         0.8
4                        0.62  ...                         0.8
...                       ...  ...                         ...
17210                    0.89  ...                         0.8
17211                    0.58  ...                         0.8
17212                    0.93  ...                         0.8
17213                    0.92  ...                         0.8
17214                    0.84  ...                         0.8

[17215 rows x 11 columns]

In [59]:
X = data.drop('target',axis=1)
y = data['target']

In [74]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.15 , random_state=15)
from sklearn.ensemble import RandomForestClassifier
RTC = RandomForestClassifier(random_state=0)
RTC.fit(X_train,y_train)
y_pred = RTC.predict(X_test)
y_pred

array([1, 1, 0, ..., 0, 1, 1])

In [75]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))

0.781262098335269

In [76]:
import lightgbm as ltb

model = ltb.LGBMClassifier(random_state=42)
model.fit(X_train, y_train)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=42, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [77]:
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, ..., 0, 1, 0])

In [78]:

from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test))

0.8102981029810298

In [79]:
target = model.predict(data_test)

In [80]:
# target = le.inverse_transform(target)
# To create Dataframe of predicted value with particular respective index
res = pd.DataFrame(target) # target are nothing but the final predictions of your model on input features of your new unseen test data
res.columns = ["prediction"]

# To download the csv file locally
from google.colab import files
res.to_csv('submission.csv', index = False)
files.download('submission.csv')

In [ ]:
y_pred

In [ ]:
y_pred